.swal2-title
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-content
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
.swal2-confirm,.swal2-cancel
{
    font-family:'Questrial',sans-serif;
    font-size:15px;
    color:#EBEBEB;
    font-weight: normal;
}
*
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */    
}
/*-------------------------------------------------------------------------------------*/
.action-button
{
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border:none;
    /*background-color:#313131 ;*/
    background-color: gray;
    border-radius: 4px;
    color:#ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 20px;
}
.action-button:active
{
    color:#4C91CB;
}
.text-action-button
{
    height: 40px;
    box-sizing: border-box;
    border:none;
    /*background-color:#313131 ;*/
    background-color: gray;
    border-radius: 4px;
    color:#ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 60%);
    overflow:hidden;
}
.text-action-button span
{
    font-family: 'Questrial', sans-serif;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
    text-transform:uppercase;
}
.text-action-button i
{
    font-size: 20px;
    margin-left:10px;
}
.text-action-button:active
{
    color:#4C91CB;
}
.drawing-lamiera-legenda-button,.drawing-lana-legenda-button
{
    color: #404040;
    text-shadow: none;
    box-sizing: border-box;
}
.drawing-lamiera-legenda-button
{
    border: 1px solid white;
}
.drawing-lana-legenda-button
{
    border: 1px solid #DA6969;
}
.drawing-lamiera-legenda-button:active,.drawing-lana-legenda-button:active
{
    color: #404040;
}
#drawingSvg text
{
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 14px;
}